#navigationBar
{
    width: 100vw;
    --bs-navbar-color: green;
}

#navigationMenu .nav-item
{
    color: green;
    font-size: clamp(10px, 4vw, 30px);
    text-decoration: underline;
}

#scriptureImgTop
{
    width: 100vw;
    max-height: 35vh;
}

#scriptureImgNavBar
{
    width: 50vw;
}

#navigationBar .btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:hover
{
    background-color: green;
    border-color: green;
    width: 11vw;
    max-width: 60px;
    height: 11vw;
    max-height: 60px;
}

.bi
{
    color: white;
    font-size: clamp(10px, 4vw, 30px);
}